body{
font-family: Arial, sans-serif;
background:#f7f3ea;
margin:0;
}

header{
background:#c8a96a;
color:white;
text-align:center;
padding:25px;
}

.container{
max-width:1000px;
margin:auto;
padding:20px;
}

.card{
background:white;
border-radius:10px;
padding:20px;
margin-bottom:20px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.timeline-item{
background:#ffeedd;
padding:8px;
margin-bottom:5px;
border-radius:6px;
}

.progress{
height:20px;
background:#eee;
border-radius:10px;
overflow:hidden;
margin-bottom:10px;
}

#progressBar{
height:100%;
width:0%;
background:#c8a96a;
}

table{
width:100%;
border-collapse:collapse;
}

td{
border:1px solid #ddd;
padding:6px;
}